#!/bin/bash
#
# Template for bash scripts 
# author@somewhere.com
# usage: 
#

set -o errexit
set -o pipefail
export PS4='[\D{%FT%TZ}] ${BASH_SOURCE}:${LINENO}: ${FUNCNAME[0]:+${FUNCNAME[0]}(): }'
set -o xtrace
